p,td,tr,th,span{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.border-shadow-left {
    border-left: 1px solid gray;
    border-radius: 10px;
}
.border-shadow-bottom {
    border-bottom: 1px solid gray;
    border-radius: 10px;
}
.border-shadow-top {
    border-top: 1px solid gray;
    border-radius: 10px;
}
.border-shadow {
    border: 1px solid rgb(240,240,240);
    border-radius: 10px;
    -moz-box-shadow:10px 10px 20px gray;
    -webkit-box-shadow:10px 10px 20px gray;
    box-shadow:10px 10px 20px gray;
    background-color: white;
}
.btn-sxp {
    background-color:rgb(78,201,142);
    color:white;
    padding: 5px 20px;
}
.btn-sxp:hover {
    background-color:rgb(58,181,122);
    color:white;
}
.btn-sxp:focus {
    background-color:rgb(58,181,122);
    color:white;
}
.navbar-brand {
    margin: 0px;
    padding: 0px;
}
.navbar-default {
    background-color: white;
    border: 0px;
    margin-top: 20px;
}
.navbar-a-underline {
    font-size: 16px;
    margin:0px 10px;
}
.navbar-default .navbar-nav > li > a {
    color: black;
}
.navbar-a-underline:hover {
    border-bottom: 4px solid rgb(78,201,142);
}
.navbar-a-active {
    border-bottom: 4px solid rgb(78,201,142);
}
.sxp-footer {
    padding: 30px 0px;
    color : #99979c;
    background-color: #282828;
    text-align: left;
}
.sxp-footer-ul {
    padding-left: 0px;
    margin-bottom: 20px;
}
.sxp-footer-ul li{
    display: inline-block;
    margin-right: 40px;
}
.sxp-footer-ul li a{
    color : #99979c;
}
.img-up {
    cursor: pointer;
}
.ul-userinfo li{
    display: inline-block;
    margin-right: 40px;
    font-size: 15px;
}
.box {
    border:1px solid rgb(38,38,38);
    border-radius: 10px;
    padding: 30px 5px;
}
.box-title {
    position: relative;
    margin: auto;
    top: -40px;
    width: 30%;
    color:black;
    background-color: white;
    text-align: center;
    font-weight: bold;
}
.img-box {
    border-radius:10px;
    width: 184px;
    height:186px;
    padding-top: 130px;
    cursor: pointer;
}
.img-box p {
    color: white;
    font-size: 28px;
    font-family: 楷体;
}
.forget{
    display: none;
}

.fetchbox td:hover {
    background-color: rgb(78,201,142);
    color: white;
    z-index:2000;
}

.fetchbox-active {
    background-color: rgb(78,201,142);
    color: white;
}
.modal-background {
    position: fixed;
    top:0px;
    left:0px;
    background-color: rgba(0,0,0,0.2);
    width:100%;
    height:100%;
    padding: 0px auto;
    z-index: 1051;
    display: none;
}

.modal-background *{
    z-index:1052;
}
.underline-p {
    cursor: move;
    border-bottom: 1px solid black;
}
.sxp-list-group:hover {
    color : rgb(78,201,142);
    cursor: pointer;
}
.sxp-list-group-active {
    color : rgb(78,201,142);
}

.loader {
    border: .2em solid transparent;
    border-top-color: currentcolor;
    border-radius: 50%;
    -webkit-animation: 1s loader linear infinite;
    animation: 1s loader linear infinite;
    position: relative;

    display: inline-block;
    width: 1em;
    height: 1em;
    color: inherit;
    vertical-align: middle;
    pointer-events: none;
}

.loader:before {
    content: '';
    display: block;
    width: inherit;
    height: inherit;
    position: absolute;
    top: -.2em;
    left: -.2em;
    border: .2em solid currentcolor;
    border-radius: 50%;
    opacity: .5;
}

@-webkit-keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


.loader-box {
    display: inline-block;
    width: 200px;
    height: 50px;
    text-align: center;
    border-radius: 3px;
    font-size: 30px;
    color: rgb(78,201,142);
    position: relative;
    vertical-align: top;
    -webkit-transition: .3s color, .3s border, .3s transform, .3s opacity;
    transition: .3s color, .3s border, .3s transform, .3s opacity;
}

.loader-box p {
    font-size: 16px;
    color: gray;
}

.ok-gly {
    color: rgb(78,201,142);
    font-size: 16px;
}