p,td,tr,th{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body ,html {
    height: 100%;
}
body {
    margin: 0px;
}
.border-shadow-left {
    border-left: 1px solid gray;
    border-radius: 10px;
}
.border-shadow-bottom {
    border-bottom: 1px solid gray;
    border-radius: 10px;
}
.border-shadow-top {
    border-top: 1px solid gray;
    border-radius: 10px;
}
.border-shadow {
    border: 1px solid rgb(240,240,240);
    border-radius: 10px;
    -moz-box-shadow:10px 10px 20px gray;
    -webkit-box-shadow:10px 10px 20px gray;
    box-shadow:10px 10px 20px gray;
    background-color: white;
}
.btn-sxp {
    background-color:rgb(78,201,142);
    color:white;
    padding: 5px 20px;
}
.btn-sxp:hover {
    background-color:rgb(58,181,122);
    color:white;
}
.btn-sxp:focus {
    background-color:rgb(58,181,122);
    color:white;
}
.navbar-brand {
    margin: 0px;
    padding: 0px;
}
.navbar-default {
    background-color: white;
    border: 0px;
    margin-top: 20px;
}
.navbar-a-underline {
    font-size: 16px;
    margin:0px 10px;
}
.navbar-default .navbar-nav > li > a {
    color: black;
}
.navbar-a-underline:hover {
    border-bottom: 4px solid rgb(78,201,142);
}
.navbar-a-active {
    border-bottom: 4px solid rgb(78,201,142);
}
.sxp-footer {
    padding: 30px 0px;
    color : #99979c;
    background-color: #282828;
    text-align: left;
}
.sxp-footer-ul {
    padding-left: 0px;
    margin-bottom: 20px;
}
.sxp-footer-ul li{
    display: inline-block;
    margin-right: 40px;
}
.sxp-footer-ul li a{
    color : #99979c;
}
.img-up {
    cursor: pointer;
}
.ul-userinfo li{
    display: inline-block;
    margin-right: 40px;
    font-size: 15px;
}
.box {
    border:1px solid rgb(38,38,38);
    border-radius: 10px;
    padding: 30px 5px;
}
.box-title {
    position: relative;
    margin: auto;
    top: -40px;
    width: 30%;
    color:black;
    background-color: white;
    text-align: center;
    font-weight: bold;
}
.img-box {
    border-radius:10px;
    width: 184px;
    height:186px;
    padding-top: 130px;
    cursor: pointer;
}
.img-box p {
    color: white;
    font-size: 28px;
    font-family: 楷体;
}
.forget{
    display: none;
}

.fetchbox td:hover {
    background-color: rgb(78,201,142);
    color: white;
    z-index:2000;
}

.fetchbox-active {
    background-color: rgb(78,201,142);
    color: white;
}
.modal-background {
    position: absolute;
    top:0px;
    left:0px;
    background-color: rgba(0,0,0,0.2);
    width:100%;
    height:100%;
    padding: 0px auto;
    z-index: 1051;
    display: none;
}

.modal-background *{
    z-index:1052;
}
